Cricket Analysis

This analysis is a replication of the research done by " ". However, the dataset is different than the replicated research paper. Also, it looks at the batting rankings only. All of the data were obtained from ESPN Cricinfo.com.

Firstly, the required libraries were imported.

In [108]:
#Import required libraries
import pandas as pd 
import requests
import numpy as np
from pandas.tools.plotting import table

Importing the overall batting statistics for the 2013 T20 world cup. After importing the dataset , I have dropped the columns that I do not need for this analysis.

In [118]:
#import the data set

def fetch_data_from_url(url, drop_columns,df_list_index):
    html = requests.get(url).content
    df_list = pd.read_html(html)
    df = df_list[df_list_index]
    df.index += 1 
    df.drop(df.columns[drop_columns],axis=1, inplace=True)
    return df

url = 'http://stats.espncricinfo.com/world-t20/engine/records/averages/batting.html?id=8083;type=tournament'
drop_columns= [9,10,11,12,13]
df_list_index= 0
df_1= fetch_data_from_url(url,drop_columns,df_list_index)

Since, all of the variables in the columns were of object type, I had to convert them to integer or float type to be able to make necessary calculation. However, I was unable to make the conversion in the High Score (HS) column, because of the * characters which represented the Not Out scores of batsmen. I stripped the character off from the data and only had numbers.

In [130]:
def strip_asterix_from_column(dataframe,colname,remove_char):
    if dataframe[colname].dtype.kind == 'O':
        dataframe[colname]=dataframe[colname].map(lambda x:x.rstrip(remove_char))

def to_numeric (dataframe, column):
    dataframe[column]=dataframe[column].apply(pd.to_numeric, errors='coerce')



exclude_columns=['Player']

for column in df_1.columns:
    if not column in exclude_columns:
        strip_asterix_from_column(df_1,column,'*')
        to_numeric(df_1, column)

Once the dataset was stripped off the * character, I was able to make the transistion to integer. However, there were some '-' characters, I was able to add an exception using errors='coerce' so that the columns could be converted to interger.

Once the conversion was done, I dropped off the players data who had batted less than 2 innings.

In [131]:
#drop the players with lesser than 1 innings. (Efficient ways of doing this)
df_1 = df_1[df_1.Inns > 2]

In [408]:
def ranking_players (dataframe,colname):
    ranking_df = dataframe.sort_values(by=colname,ascending=False).reset_index(drop=True)
    return ranking_df
def restart_index (dataframe):
    dataframe.index += 1

Finally, I sorted the dataset and ranked the players according to their rankings.

In [410]:
Ave_rank= ranking_players(df_1,'Ave')
restart_index (Ave_rank)

In [411]:
Ave_rank

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR
1,V Kohli (INDIA),6,6.0,3.0,319.0,77.0,106.33,247.0,129.14
2,DJG Sammy (WI),5,5.0,4.0,101.0,42.0,101.00,45.0,224.44
3,E Chigumbura (ZIM),3,3.0,2.0,75.0,53.0,75.00,36.0,208.33
4,JP Duminy (SA),5,5.0,2.0,187.0,86.0,62.33,133.0,140.60
5,TLW Cooper (NL),7,7.0,3.0,231.0,72.0,57.75,168.0,137.50
6,WTS Porterfield (IRE),3,3.0,1.0,111.0,47.0,55.50,90.0,123.33
7,AD Hales (ENG),4,4.0,1.0,166.0,116.0,55.33,105.0,158.09
8,Shafiqullah (AFG),3,3.0,1.0,103.0,51.0,51.50,72.0,143.05
9,MS Dhoni (INDIA),6,4.0,3.0,50.0,24.0,50.00,40.0,125.00
10,KS Williamson (NZ),4,4.0,1.0,146.0,51.0,48.66,117.0,124.78
11,Ahmed Shehzad (PAK),4,4.0,1.0,138.0,111.0,46.00,85.0,162.35
12,Mashrafe Mortaza (BDESH),5,3.0,2.0,42.0,19.0,42.00,28.0,150.00
13,RS Bopara (ENG),4,4.0,2.0,84.0,31.0,42.00,63.0,133.33
14,BRM Taylor (ZIM),3,3.0,0.0,123.0,59.0,41.00,92.0,133.69
15,RG Sharma (INDIA),6,6.0,1.0,200.0,62.0,40.00,162.0,123.45
16,AJ Finch (AUS),4,4.0,0.0,158.0,71.0,39.50,121.0,130.57
17,TT Bresnan (ENG),4,3.0,2.0,39.0,17.0,39.00,18.0,216.66
18,PR Stirling (IRE),3,3.0,1.0,75.0,60.0,37.50,48.0,156.25
19,Shakib Al Hasan (BDESH),7,7.0,2.0,186.0,66.0,37.20,144.0,129.16
20,HM Amla (SA),5,5.0,0.0,185.0,56.0,37.00,141.0,131.20
21,GJ Maxwell (AUS),4,4.0,0.0,147.0,74.0,36.75,70.0,210.00
22,NLTC Perera (SL),5,4.0,2.0,70.0,23.0,35.00,45.0,155.55
23,AD Mathews (SL),6,4.0,1.0,100.0,43.0,33.33,70.0,142.85
24,AB de Villiers (SA),5,5.0,1.0,129.0,69.0,32.25,79.0,163.29
25,Umar Akmal (PAK),4,4.0,0.0,128.0,94.0,32.00,91.0,140.65
26,SJ Myburgh (NL),7,7.0,0.0,224.0,63.0,32.00,145.0,154.48
27,F du Plessis (SA),3,3.0,0.0,95.0,58.0,31.66,63.0,150.79
28,DPMD Jayawardene (SL),6,6.0,1.0,158.0,89.0,31.60,126.0,125.39
29,SK Raina (INDIA),6,4.0,2.0,63.0,35.0,31.50,49.0,128.57
30,EC Joyce (IRE),3,3.0,0.0,93.0,43.0,31.00,91.0,102.19
...,...,...,...,...,...,...,...,...,...
81,MR Swart (NL),7,6.0,0.0,76.0,26.0,12.66,81.0,93.82
82,CJ Jordan (ENG),4,3.0,0.0,38.0,16.0,12.66,34.0,111.76
83,MM Ali (ENG),4,4.0,0.0,49.0,36.0,12.25,41.0,119.51
84,Kamran Akmal (PAK),4,4.0,0.0,48.0,31.0,12.00,56.0,85.71
85,Sabbir Rahman (BDESH),4,3.0,1.0,24.0,21.0,12.00,27.0,88.88
86,Tamim Iqbal (BDESH),7,7.0,0.0,83.0,30.0,11.85,97.0,85.56
87,MJ Guptill (NZ),4,4.0,0.0,47.0,22.0,11.75,58.0,81.03
88,GJ Bailey (AUS),4,4.0,1.0,35.0,12.0,11.66,38.0,92.10
89,Irfan Ahmed (HKG),3,3.0,0.0,34.0,34.0,11.33,30.0,113.33
90,Sagar Pun (NEPAL),3,3.0,0.0,33.0,13.0,11.00,43.0,76.74
91,Sikandar Raza (ZIM),3,3.0,0.0,32.0,13.0,10.66,34.0,94.11
92,S Dhawan (INDIA),3,3.0,0.0,31.0,30.0,10.33,37.0,83.78
93,Amjad Javed (UAE),3,3.0,0.0,29.0,19.0,9.66,33.0,87.87
94,Babar Hayat (HKG),3,3.0,0.0,26.0,20.0,8.66,32.0,81.25
95,Amjad Ali (UAE),3,3.0,0.0,26.0,20.0,8.66,29.0,89.65
96,JA Morkel (SA),5,4.0,0.0,33.0,13.0,8.25,26.0,126.92
97,Nizakat Khan (HKG),3,3.0,0.0,21.0,12.0,7.00,26.0,80.76
98,Faizan Asif (UAE),3,3.0,0.0,18.0,11.0,6.00,22.0,81.81
99,Mohammad Nabi (AFG),3,3.0,1.0,10.0,6.0,5.00,16.0,62.50
100,B Bhandari (NEPAL),3,3.0,2.0,5.0,4.0,5.00,12.0,41.66
101,Tanwir Afzal (HKG),3,3.0,0.0,11.0,11.0,3.66,18.0,61.11
102,AD Russell (WI),5,3.0,1.0,7.0,7.0,3.50,6.0,116.66
103,DW Steyn (SA),5,3.0,1.0,6.0,5.0,3.00,7.0,85.71
104,MA Starc (AUS),4,3.0,0.0,9.0,4.0,3.00,10.0,90.00
105,Ziaur Rahman (BDESH),3,3.0,0.0,9.0,9.0,3.00,15.0,60.00
106,D Ramdin (WI),5,3.0,1.0,5.0,5.0,2.50,11.0,45.45
107,SR Watson (AUS),4,3.0,0.0,7.0,4.0,2.33,16.0,43.75
108,LV van Beek (NL),7,3.0,0.0,3.0,1.0,1.00,12.0,25.00
109,Haseeb Amjad (HKG),3,3.0,3.0,23.0,12.0,NaN,21.0,109.52
110,T Maruma (ZIM),3,3.0,3.0,35.0,22.0,NaN,23.0,152.17

However, this study required me to calculate the rankings based on other factors. Referring to the earlier document, I need to calculate the e2 and e6 values.

Where, e2 = (sumout + 2×sumno)/n and e6 = (sumout + f6×sumno)/n where f6 = 2.2 – 0.01×avno. 

This calculation could only be done if I had the sum of out scores, and sum of not out scores. And my earlier dataset did not contain any of this information.

I therefore needed to get the individual scores each batsman scored during the tournament. And I needed the sum of total not out scores and sum of out scores. Again, I downloaded the dataset for the each batsman individual scores. I could have done it more efficiently, however, I repeated the process of getting the dataset from over ten tables. I made sure that the dataset contained scores of batsmen that had batted more than two innings as that was the requirement according to the earlier table. 

I dropped of unwanted columns from the datasets.

In [170]:
def fetch_data_from_url(url):
    html = requests.get(url).content
    df_list = pd.read_html(html)
    df = df_list[2]
    df.index += 1 
    df.drop(df.columns[[2,3,4,5,6,7,8,9,10,11,12]],axis=1, inplace=True)
    return df

urls = [
    "http://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;filter=advanced;host=25;orderby=batting_average;season=2013%2F14;template=results;trophy=89;type=batting;view=innings"
    ,"http://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;filter=advanced;host=25;orderby=batting_average;page=2;season=2013%2F14;template=results;trophy=89;type=batting;view=innings"
    ,"http://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;filter=advanced;host=25;orderby=batting_average;page=3;season=2013%2F14;template=results;trophy=89;type=batting;view=innings"
    ,"http://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;filter=advanced;host=25;orderby=batting_average;page=4;season=2013%2F14;template=results;trophy=89;type=batting;view=innings"
    ,"http://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;filter=advanced;host=25;orderby=batting_average;page=5;season=2013%2F14;template=results;trophy=89;type=batting;view=innings"
    ,"http://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;filter=advanced;host=25;orderby=batting_average;page=6;season=2013%2F14;template=results;trophy=89;type=batting;view=innings"
    ,"http://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;filter=advanced;host=25;orderby=batting_average;page=7;season=2013%2F14;template=results;trophy=89;type=batting;view=innings"
    ,"http://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;filter=advanced;host=25;orderby=batting_average;page=8;season=2013%2F14;template=results;trophy=89;type=batting;view=innings"
    ,"http://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;filter=advanced;host=25;orderby=batting_average;page=9;season=2013%2F14;template=results;trophy=89;type=batting;view=innings"
    ,"http://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;filter=advanced;host=25;orderby=batting_average;page=10;season=2013%2F14;template=results;trophy=89;type=batting;view=innings"
]

df = []

for url in urls:
    df.append(fetch_data_from_url(url))

In [135]:
type(result)

pandas.core.frame.DataFrame

In [171]:
#merge all the dataframe together in a row

result = pd.concat(df)

Finally, I merged all of the tables into one dataframe. This merger took place based on the rows. I needed player with the same names to be merged in the same column. For this I grouped the merged dataframe by Player name and joined the as a column. This gave me the dataframe that had Players name in one column, but all of the scores were in the second column separated by commas. I then separated the scores separated by commas into other columns and renamed them to 

Player| Inns_1||Inns_2|....|Inns_7|

In [172]:
#group by player 
result= result.groupby(['Player'])['Runs'].apply(', '.join).reset_index()
result=pd.concat([result[['Player']], result['Runs'].str.split(', ', expand=True)], axis=1)
result.columns= ['Player','Inns_1','Inns_2','Inns_3','Inns_4','Inns_5','Inns_6','Inns_7']

I then dropped of any player that might have not played more than two innings.

In [174]:
#Drop rows with cols that have more more than two None
more_than_two_inns=result.dropna(subset=['Inns_1','Inns_2','Inns_3','Inns_4','Inns_5','Inns_6','Inns_7'], thresh=3)

I also replaced all the NAN values to blank. The Inns column could have (*) character meaning not-out scores, however, I was not able to convert them to integer because of the * sign. But replacing the NAN values also replaced all the * sign scores to blank. I now could calculate the out scores.

In [176]:
#replace the nan values with blank space
more_than_two_inns = more_than_two_inns.replace(np.nan, '', regex=True)

In [181]:
more_than_two_inns.head(2)

                Player Inns_1 Inns_2 Inns_3 Inns_4 Inns_5 Inns_6 Inns_7
0  AB de Villiers (SA)    69*     24     21     10      5
1       AD Hales (ENG)   116*     38     12

In [178]:
out_scores= more_than_two_inns[:]

I copied my dataframe to a new dataframe for calculating the sum of out scores
Finally, I changed all the Inns column to integer, and I was able to add the out scores of the individual batsmen. The Inns column could have (*) character meaning not-out scores, however, using errors='coerce' I was able to make an exception to these cases. And all the not-out scores were replaced to NAN. Now, I could easily calculate the sum of Out scores.

In [180]:
#Remove the Not-out scores (it has *)- I do that by converting the cols into integer whilst 
#ignoring the not-out scores

for column in out_scores.columns:
    if not column in exclude_columns:
        to_numeric(out_scores, column)

In [183]:
#Add all the out_scores
out_scores['Total'] = out_scores.sum(axis=1)
out_scores= out_scores.replace(np.nan, '', regex=True)

In [184]:
out_scores.head(5)

                Player Inns_1 Inns_2 Inns_3 Inns_4 Inns_5 Inns_6 Inns_7  Total
0  AB de Villiers (SA)            24     21     10      5                 60.0
1       AD Hales (ENG)            38     12                               50.0
2      AD Mathews (SL)     43     40             6                        89.0
3     AD Poynter (IRE)     57     23      4                               84.0
5       AJ Finch (AUS)     71     65     16      6                       158.0

In [287]:
all_scores=more_than_two_inns[:]

Again, I made a new dataframe to calculate the total runs scored by each batsman. I relaced the NAN values to blank and then stripped the Not out symbol * from the scores. I could then convert the columns to integer,and then added the total scores.

In [288]:
all_scores = all_scores.replace(np.nan, '', regex=True)

In [290]:
column_names= ['Inns_1','Inns_2', 'Inns_3', 'Inns_4','Inns_5', 'Inns_6','Inns_7']

for column in column_names:
    strip_asterix_from_column(all_scores,column,'*')
    to_numeric(all_scores, column)

In [292]:
all_scores['Total_runs']= all_scores.iloc[:, 1:-1].sum(axis=1)

In [293]:
all_scores= all_scores.replace(np.nan, '', regex=True)

In [294]:
result_1 = pd.concat([out_scores, all_scores], axis=1, sort=False)

In [295]:
result_1.columns= ['Player',"","","","","","","",'Sumout','Player_1',"1","2","3","4","5","6","7","Total Runs"]

In [296]:
result_1=result_1.drop(result_1.columns[[1,2,3,4,5,6,7,9]],axis=1)

In [297]:
result_1= result_1[['Player', '1', '2', '3','4','5','6','7','Sumout','Total Runs']]

Now to find the sum of Not out runs, I substracted the sum of out runs from the total runs. This gave me the column for sum for Not out runs.

In [298]:
#Finding the total Not-Out Runs by substracting out runs from Total runs
result_1['Sumno']= result_1['Total Runs']-result_1['Sumout']

I then merged this individual innings dataframe with my first dataframe according to players name. I was roughly able to check to see if all the batsmen had similar amount of runs from the first table and the second innings by innigs table.

In [299]:
#sort the initial dataframe alphabhetically
df_main=df_1.sort_values('Player', ascending=True)

In [300]:
df_3 = pd.merge(df_main, result_1, on='Player', how='right')

In [302]:
df_3.drop(df_3.columns[[1,4,5,7]],axis=1, inplace=True)

In [303]:
#calculate e2
df_3['e2']= (df_3.Sumout + 2*(df_3.Sumno))/df_3.Inns

In [304]:
#calculate f6
avno= (df_3.Sumno/df_3.NO)

In [305]:
avno = avno.replace(np.nan, '0', regex=True)

In [306]:
avno=avno.apply(pd.to_numeric, errors='coerce')

In [307]:
f6=2.2-0.01*avno

In [308]:
#calculate e6 = (sumout + f6×sumno)/n where f6 = 2.2 – 0.01×avno. 
df_3['e6']=(df_3.Sumout+f6*df_3.Sumno)/df_3.Inns

In [309]:
#calculate e26
df_3['e26']=(df_3.e2+df_3.e6)/2

In [310]:
#SR average

ASR=df_3.SR.sum(axis=0)/209

In [316]:
#calculate BP wher BP26 = e26 ×RP = e26×(SR/124.0)0.5 

df_3['BP26'] = df_3.e26*(df_3.SR/ASR)**0.5

In [446]:
main_table=df_3[:]

In [447]:
#Sort based on BP26(Efficient ways of doing this)

bp26_rank=ranking_players(main_table,'BP26')
bp26_rank.drop(bp26_rank.columns[[4,5,6,7,8,9,10,11]],axis=1, inplace=True)
restart_index(bp26_rank)

In [448]:
bp26_rank

,Player,Inns,NO,Ave,Sumout,Total Runs,Sumno,e2,e6,e26,BP26
1,V Kohli (INDIA),6.0,3.0,106.33,154.0,319.0,165.0,80.666667,71.041667,75.854167,115.511230
2,AD Hales (ENG),4.0,1.0,55.33,50.0,166.0,116.0,70.500000,42.660000,56.580000,95.329984
3,E Chigumbura (ZIM),3.0,2.0,75.00,0.0,75.0,75.0,50.000000,45.625000,47.812500,92.476575
4,JP Duminy (SA),5.0,2.0,62.33,56.0,187.0,131.0,63.600000,51.679000,57.639500,91.585610
5,Ahmed Shehzad (PAK),4.0,1.0,46.00,27.0,138.0,111.0,62.250000,36.997500,49.623750,84.728614
6,Shafiqullah (AFG),3.0,1.0,51.50,52.0,103.0,51.0,51.333333,46.063333,48.698333,78.049910
7,TLW Cooper (NL),7.0,3.0,57.75,85.0,223.0,138.0,51.571429,46.445714,49.008571,77.008341
8,DJG Sammy (WI),5.0,4.0,101.00,11.0,101.0,90.0,38.200000,37.750000,37.975000,76.236384
9,GJ Maxwell (AUS),4.0,0.0,36.75,147.0,147.0,0.0,36.750000,36.750000,36.750000,71.364359
10,WTS Porterfield (IRE),3.0,1.0,55.50,78.0,111.0,33.0,48.000000,46.570000,47.285000,70.367502
11,BRM Taylor (ZIM),3.0,0.0,41.00,123.0,123.0,0.0,41.000000,41.000000,41.000000,63.525442
12,KS Williamson (NZ),4.0,1.0,48.66,122.0,146.0,24.0,42.500000,42.260000,42.380000,63.437757
13,AB de Villiers (SA),5.0,1.0,32.25,60.0,129.0,69.0,39.600000,32.838000,36.219000,62.019838
14,RG Sharma (INDIA),6.0,1.0,40.00,138.0,200.0,62.0,43.666667,39.326667,41.496667,61.783589
15,AJ Finch (AUS),4.0,0.0,39.50,158.0,158.0,0.0,39.500000,39.500000,39.500000,60.482979
16,HM Amla (SA),5.0,0.0,37.00,185.0,185.0,0.0,37.000000,37.000000,37.000000,56.791458
17,SJ Myburgh (NL),7.0,0.0,32.00,224.0,224.0,0.0,32.000000,32.000000,32.000000,53.296720
18,F du Plessis (SA),3.0,0.0,31.66,95.0,95.0,0.0,31.666667,31.666667,31.666667,52.107831
19,Umar Akmal (PAK),4.0,0.0,32.00,128.0,128.0,0.0,32.000000,32.000000,32.000000,50.855066
20,Shakib Al Hasan (BDESH),7.0,2.0,37.20,139.0,186.0,47.0,33.285714,33.050714,33.168214,50.512689
21,TT Bresnan (ENG),3.0,2.0,39.00,5.0,39.0,34.0,24.333333,24.673333,24.503333,48.331349
22,NLTC Perera (SL),4.0,2.0,35.00,24.0,70.0,46.0,29.000000,28.655000,28.827500,48.178843
23,PR Stirling (IRE),3.0,1.0,37.50,67.0,75.0,8.0,27.666667,27.986667,27.826667,46.610695
24,Anamul Haque (BDESH),7.0,1.0,30.66,140.0,184.0,44.0,32.571429,31.062857,31.817143,46.451625
25,RS Bopara (ENG),4.0,2.0,42.00,49.0,84.0,35.0,29.750000,29.968750,29.859375,46.201814
26,DJ Bravo (WI),5.0,1.0,25.75,76.0,103.0,27.0,26.000000,25.622000,25.811000,45.698718
27,AD Poynter (IRE),3.0,0.0,28.00,84.0,84.0,0.0,28.000000,28.000000,28.000000,45.153007
28,AD Mathews (SL),4.0,1.0,33.33,89.0,100.0,11.0,27.750000,27.997500,27.873750,44.642643
29,G Malla (NEPAL),3.0,0.0,27.66,83.0,83.0,0.0,27.666667,27.666667,27.666667,43.604308
30,DPMD Jayawardene (SL),6.0,1.0,31.60,147.0,158.0,11.0,28.166667,28.331667,28.249167,42.388834
...,...,...,...,...,...,...,...,...,...,...,...
70,JJ Atkinson (HKG),3.0,0.0,14.66,44.0,44.0,0.0,14.666667,14.666667,14.666667,20.359443
71,MJ Lumb (ENG),4.0,0.0,14.25,57.0,57.0,0.0,14.250000,14.250000,14.250000,20.187030
72,Shoaib Malik (PAK),4.0,1.0,17.33,46.0,52.0,6.0,14.500000,14.710000,14.605000,19.571132
73,Sabbir Rahman (BDESH),3.0,1.0,12.00,3.0,24.0,21.0,15.000000,14.930000,14.965000,18.905716
74,MM Ali (ENG),4.0,0.0,12.25,49.0,49.0,0.0,12.250000,12.250000,12.250000,17.945377
75,CJ Jordan (ENG),3.0,0.0,12.66,38.0,38.0,0.0,12.666667,12.666667,12.666667,17.944027
76,Q de Kock (SA),5.0,0.0,12.80,64.0,64.0,0.0,12.800000,12.800000,12.800000,17.019793
77,MR Swart (NL),6.0,0.0,12.66,76.0,76.0,0.0,12.666667,12.666667,12.666667,16.440856
78,Sohaib Maqsood (PAK),4.0,1.0,15.00,44.0,45.0,1.0,11.500000,11.547500,11.523750,16.177465
79,Irfan Ahmed (HKG),3.0,0.0,11.33,34.0,34.0,0.0,11.333333,11.333333,11.333333,16.167560
80,Mohammad Hafeez (PAK),4.0,0.0,13.75,55.0,55.0,0.0,13.750000,13.750000,13.750000,15.673513
81,GJ Bailey (AUS),4.0,1.0,11.66,24.0,35.0,11.0,11.500000,11.747500,11.623750,14.948253
82,Kamran Akmal (PAK),4.0,0.0,12.00,48.0,48.0,0.0,12.000000,12.000000,12.000000,14.887143
83,Tamim Iqbal (BDESH),7.0,0.0,11.85,83.0,83.0,0.0,11.857143,11.857143,11.857143,14.697038
84,MJ Guptill (NZ),4.0,0.0,11.75,47.0,47.0,0.0,11.750000,11.750000,11.750000,14.173436
85,Sikandar Raza (ZIM),3.0,0.0,10.66,32.0,32.0,0.0,10.666667,10.666667,10.666667,13.866313
86,Mudassar Bukhari (NL),4.0,2.0,15.00,15.0,30.0,15.0,11.250000,11.718750,11.484375,13.673204
87,Sagar Pun (NEPAL),3.0,0.0,11.00,33.0,33.0,0.0,11.000000,11.000000,11.000000,12.912727
88,JA Morkel (SA),4.0,0.0,8.25,33.0,33.0,0.0,8.250000,8.250000,8.250000,12.454702
89,Amjad Javed (UAE),3.0,0.0,9.66,29.0,29.0,0.0,9.666667,9.666667,9.666667,12.142593
90,BN Cooper (NL),7.0,4.0,16.33,33.0,49.0,16.0,9.285714,9.651429,9.468571,11.562950
91,Amjad Ali (UAE),3.0,0.0,8.66,26.0,26.0,0.0,8.666667,8.666667,8.666667,10.996174
92,Babar Hayat (HKG),3.0,0.0,8.66,26.0,26.0,0.0,8.666667,8.666667,8.666667,10.468348
93,Nizakat Khan (HKG),3.0,0.0,7.00,21.0,21.0,0.0,7.000000,7.000000,7.000000,8.429670
94,Faizan Asif (UAE),3.0,0.0,6.00,18.0,18.0,0.0,6.000000,6.000000,6.000000,7.272250
95,Mohammad Nabi (AFG),3.0,1.0,5.00,4.0,10.0,6.0,5.333333,5.613333,5.473333,5.798375
96,MA Starc (AUS),3.0,0.0,3.00,9.0,9.0,0.0,3.000000,3.000000,3.000000,3.813791
97,B Bhandari (NEPAL),3.0,2.0,5.00,1.0,5.0,4.0,3.000000,3.240000,3.120000,2.698538
98,SR Watson (AUS),3.0,0.0,2.33,7.0,7.0,0.0,2.333333,2.333333,2.333333,2.068141
99,LV van Beek (NL),3.0,0.0,1.00,3.0,3.0,0.0,1.000000,1.000000,1.000000,0.670015

In [ ]:
main_table.to_csv('batting_table.csv')
df.to_csv('batting1.csv')
result_1.to_csv('batting_sum.csv')
result.to_csv('batting_with_not_out_symbol')